html {
  font-family: 'Roboto', sans-serif;
}

html body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html body header .div-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

html body header .div-logo .i-header {
  margin-right: 25%;
}

html body header .div-logo .header-img-logo {
  width: 150px;
}

html body main .main-div-img {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;
  background-size: cover;
  padding-top: 180px;
}

html body main .main-div-img-2 {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat;
  background-size: cover;
  padding-top: 180px;
}

html body main .main-div-img-3 {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat;
  background-size: cover;
  padding-top: 180px;
}

html body main .main-div-img-4 {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat;
  background-size: cover;
  padding-top: 180px;
}

html body main .section-menu {
  margin-top: -25px;
  width: 100%;
  background: #F5F5F5;
  border-radius: 30px 30px 0 0;
}

html body main .section-menu .section-menu-container {
  padding: 20px;
  border-radius: 30px 30px 0 0;
}

html body main .section-menu .section-menu-container .section-menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main .section-menu .section-menu-container .section-menu-title h1 {
  font-family: 'Shrikhand', cursive;
  margin: 5px 0;
}

html body main .section-menu .section-menu-container .article-menu {
  margin-bottom: 35px;
}

html body main .section-menu .section-menu-container .article-menu h3 {
  text-transform: uppercase;
  margin: 15px 0 5px 0;
}

html body main .section-menu .section-menu-container .article-menu .divider {
  width: 50px;
  height: 2px;
  background: #99E2D0;
}

html body main .section-menu .section-menu-container .article-menu .article-menu-item {
  background: #fff;
  padding: 8px;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px #a2a2a2;
          box-shadow: 1px 1px 10px #a2a2a2;
}

html body main .section-menu .section-menu-container .article-menu .article-menu-item h4 {
  margin: 5px 0;
}

html body main .section-menu .section-menu-container .article-menu .article-menu-item .article-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main .section-menu .section-menu-container .article-menu .article-menu-item .article-flex p {
  margin: 5px 0;
}

html body main .section-menu .section-menu-container .div-btn {
  text-align: center;
  margin: 30px 0;
}

html body main .section-menu .section-menu-container .div-btn .btn-order {
  text-decoration: none;
  background: #ff79da;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  -webkit-box-shadow: 1px 1px 5px #A8A8A8;
          box-shadow: 1px 1px 5px #A8A8A8;
  color: #fff;
  padding: 18px 25px;
  border-radius: 50px;
}

html body footer {
  width: 100%;
  background-color: #333;
  height: auto;
}

html body footer .footer-div-container {
  padding: 10px;
}

html body footer .footer-div-container .div-logo-footer .footer-h4-logo {
  font-size: 20px;
  color: #fff;
  font-family: 'Shrikhand', cursive;
  margin: 5px 0;
}

html body footer .footer-div-container .footer-p {
  color: #fff;
}
/*# sourceMappingURL=style-menu.css.map */